.gallery-section {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  @include desktop-view {
    padding: 70px 40px;
  }
  h2 {
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: $weight-bold;
    @include desktop-view {
      font-size: 32px;
      line-height: 39px;
    }
  }

  .photos-container {
    margin-bottom: 20px;
    width: 100%;
    height: 90vh;
    overflow: scroll;
    padding: 0 0 40px;
    display: grid;
    grid-template-columns: repeat(1, 12fr);
    @include tablet-view {
      grid-template-columns: repeat(2, 6fr);
    }
    @include desktop-view {
      margin-bottom: 0;
      grid-template-columns: repeat(3, 4fr);
      height: auto;
      overflow: unset;
    }

    gap: 20px;

    @include tablet-view {
      padding: 0 32px 60px;
    }
    @include desktop-view {
      padding: 0 100px 70px;
      column-gap: 30px;
    }
    .photo-wrapper {
      width: 100%;
      border: 3px solid $color-tomato-light;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 45vh;
    }
  }
}
