*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-black;
}
a:hover {
  cursor: pointer;
}
img {
  width: 100%;
}

body {
  background-color: $color-brown-light;
  color: $color-black;
  font-family: $font-main, $font-family-fallback;
  font-weight: $weight-bold;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.main-page {
  position: relative;
  padding-bottom: 180px;
  background-color: $color-brown-dark;
  @include tablet-view {
    padding-bottom: 0;
    background-color: $color-brown-light;
  }
}

h2 {
  padding-bottom: 40px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: $weight-bold;
  @include desktop-view {
    font-size: 32px;
    line-height: 39px;
  }
}

.body-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
