//color scheme
$color-white: #ffffff;
$color-black: #000000;
$color-brown-dark: #35312d;
$color-brown-light: #f8f1ea;
$color-arrow-inactive: #202020;
$color-tomato: #c62100;
$color-tomato-light: #f16a50;
$color-dot-inactive: #f8f1eab2;
$color-dark-dot-inactive: #cac2ba;
$color-light-grey: #e5e5e5;

//fonts
$font-main: Montserrat;
$font-family-fallback: monospace;

//font-weight
$weight-light: 500;
$weight-regular: 600;
$weight-bold: 700;

//media-queries
$width-tablet: 768px;
$width-desktop: 1200px;
